<%- include('partials/account-header'); -%>
<body class="account">

      <h1 class="page-title">Your profile</h1>

      <section class="account-page">
          <div class="account-img-container">
          </div>

          <div class="account-profile-info">           
             <% for (var index = 0; index < data.length; index++) { %>
                  <h1><%= data[index].name %> , <%= data[index].age %></h1>
                  <% } %>

             <h1>Amsterdam</h1>

             <% for (var index = 0; index < data.length; index++) { %>
                  <p><%= data[index].profession %></p>
                  <% } %>
         </div> 
      
         <h2>About me</h2>
         <% for (var index = 0; index < data.length; index++) { %>
            <p><%= data[index].about %></p>
            <% } %>

            <h2>Interests</h2>
            <% for (var index = 0; index < data.length; index++) { %>
                  <div class="account-interests">
                        <ul>
                              <li><%= data[index].interest %></li>
                              <% } %>
                         </ul>
                   </div>
                   
         <a class="edit-profile-button" href="/edit-account"><img src="img/edit-icon.png" alt="edit icon"></a>

        

      </section>

      <script src="script.js"></script>
    
</body>
</html>