<%- include('partials/account-header'); -%>
<body>
   
  <h1 class="page-title">This is your final profile!</h1>
  


  <section class="edit-account-page">
     <div class="account-img-container"></div>

     <p><%= user.name %></p>
     <p><%= user.age %></p>
     <p><%= user.profession %></p>
     <p><%= user.about %></p>
     <p><%= user.interest %></p>




      </section>

      <script src="script.js"></script>
    
</body>
</html>